@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Libre+Baskerville&family=Playfair+Display&display=swap');

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: 'Alegreya', serif;
    height: 80vh;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    background: #fff5;
}

header img {
    height: 5%;
    width: 5%;
}

.main div {
    text-transform: uppercase;
    padding: 5%;
}

.main p {
    font-style: italic;
    font-size: .8em;
    margin: 0;
    padding: 0;

}

.main div span {
    font-size: 1.8em;
}


.main #hour {
    font-size: 4rem;
    font-weight: lighter;
}